<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <style media="screen">
            .error {
                color: red;
            }
        </style>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <meta charset="utf-8">
        <title>Login Registration</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="register col">
                    <h1>Register</h1>
                    <form action="/register" method="post">
                      {% csrf_token %}
                      <div class="form-group">
                        <label for="first_name">First Name</label>
                        {% if messages %}
                                {% for message in messages %}
                                    {% if 'reg_fname' in message.tags %}
                                        <p{% if message.tags %} class="{{ message.tags }} error"{% endif %}>{{ message }}</p>
                                    {% endif %}
                                {% endfor %}
                        {% endif %}
                        <input type="text" class="form-control" id="first_name" name="first_name" placeholder="First Name">
                      </div>
                      <div class="form-group">
                        <label for="last_name">Last Name</label>
                        {% if messages %}
                                {% for message in messages %}
                                    {% if 'reg_lname' in message.tags %}
                                        <p{% if message.tags %} class="{{ message.tags }} error"{% endif %}>{{ message }}</p>
                                    {% endif %}
                                {% endfor %}
                        {% endif %}
                        <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last Name">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        {% if messages %}
                                {% for message in messages %}
                                    {% if 'reg_email' in message.tags %}
                                        <p{% if message.tags %} class="{{ message.tags }} error"{% endif %}>{{ message }}</p>
                                    {% endif %}
                                {% endfor %}
                        {% endif %}
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        {% if messages %}
                                {% for message in messages %}
                                    {% if 'reg_password' in message.tags %}
                                        <p{% if message.tags %} class="{{ message.tags }} error"{% endif %}>{{ message }}</p>
                                    {% endif %}
                                {% endfor %}
                        {% endif %}
                        <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Password">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1">Confirm Password</label>
                        {% if messages %}
                                {% for message in messages %}
                                    {% if 'reg_confirm_pw' in message.tags %}
                                        <p{% if message.tags %} class="{{ message.tags }} error"{% endif %}>{{ message }}</p>
                                    {% endif %}
                                {% endfor %}
                        {% endif %}
                        <input type="password" class="form-control" id="exampleInputPassword1" name="confirm_pw" placeholder="Confirm Password">
                      </div>
                      <!-- <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                      </div> -->
                      <button type="submit" class="btn btn-primary">Register</button>
                    </form><br>


                </div>
                <div class="login col">
                    <h1>Login</h1>
                    <form action="/login" method="post">
                      {% csrf_token %}
                      <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        {% if messages %}
                                {% for message in messages %}
                                    {% if "login_email" in message.tags %}
                                        <p{% if message.tags %} class="{{ message.tags }} error"{% endif %}>{{ message }}</p>
                                    {% endif %}
                                {% endfor %}
                        {% endif %}
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        {% if messages %}
                                {% for message in messages %}
                                    {% if "login_password" in message.tags %}
                                        <p{% if message.tags %} class="{{ message.tags }} error"{% endif %}>{{ message }}</p>
                                    {% endif %}
                                {% endfor %}
                        {% endif %}
                        <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Password">
                      </div>
                      <!-- <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                      </div> -->
                      <button type="submit" class="btn btn-primary">Login</button>
                    </form><br>

                </div>
            </div>
            <!-- <p>{{all_users}}</p> -->
        </div>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>
